<!DOCTYPE html>
<html>
<head>
  <title>Final2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!-- Logo Font -->
<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>

<!-- Bootstrap -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body>

	<div class="container-fluid">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="<%= root_url %>">Home</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">

<!-- Categories menu -->
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		          <% @categories.each do |category| %>  
		            <li><a href="<%= items_url(:category_id => category.id) %>"><%= category.name %></a></li>
		           <% end %>
		          
		          </ul>
		        </li>
		      </ul>
<!-- Welcome message -->
			<% if current_user.try(:admin?) %>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="<%= edit_user_url(current_user.id) %>">Welcome <%= current_user.name %></a></li>

		    <% end %>
<!-- Admin menu -->
			<% if current_user.try(:admin?) %>
				<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="<%= new_user_url %>">Add New Admin</a></li>
		            <li><a href="<%= new_item_url %>">Add New Item</a></li>
		            </ul>
		        </li>

		        <li><a href="<%= logout_url %>">Logout</a></li>

		        <% else %>
		      	<ul class="nav navbar-nav navbar-right">
		        <li><a href="<%= new_session_url %>">Admin Login</a></li>

		    
		    <% end %>

		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<%= yield %>
	</div>
</body>
</html>
